{% extends 'base.html.twig' %}

{% block title %}Roles index{% endblock %}

{% block body %}
    <h1>Roles index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ActorId</th>
                <th>MovieId</th>
                <th>Role</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.actorId }}</td>
                <td>{{ role.movieId }}</td>
                <td>{{ role.role }}</td>
                <td>
                    <a href="{{ path('roles_show', {'actorId': role.actorId}) }}">show</a>
                    <a href="{{ path('roles_edit', {'actorId': role.actorId}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('roles_new') }}">Create new</a>
{% endblock %}
